
<h1>OxfordDictionary#index</h1>
<form action="/oxford_dictionary/lookup" method="GET">

<input type="text" name="word">
<input type="submit" value="lookup">


</form>


<p>Recent Searches</p>

<ol>
	<% @recent_searches.each do |searched_term| %>
		<li><%= searched_term.term %></li>

	<% end %>

</ol>
