
<h1>OxfordDictionary#index</h1>
<form action="/oxford_dictionary/lookup" method="GET">

<input type="text" name="word">
<input type="submit" value="lookup">


</form>


<p>Find me in app/views/oxford_dictionary/index.html.erb</p>
